body{
    background: #FFFFFF;
    font-family: Poppins;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero{
    width: 1190px;
}
.navbar{
    gap: 450px;
    display: flex;
}
ul{
    display: flex;
    height: 36px;
    top: 0px;
    bottom: 0px;
}
ul li{
    display: inline-block;
    list-style: none;
    margin: 0 3px;
}
ul li a{
    text-decoration: none;
    color: black;
    padding: 0 10px;
    position: relative;
}
ul li a::after{
    content: "";
    width: 0;
    height: 5px;
    background:rgba(17, 170, 81, 0.486) ;
    position: absolute;
    left: 1%;
    transform: translateX(-5%)
}
ul li a:hover::after{
    width: 100%;
}
.section-a{
    display: flex;
    margin-top: 30px;
    gap: 140px;
    width: 1190px;
    padding-top: 20px;
}
.heading-1{
    font-weight: bold;
    font-size: 52px;
    color: #3A3A3A;
}
.heading-4{
    font-size: 24px;
    font-weight: bold;
    color: #3A3A3A;
}
.para-a{
    font-size: 16px;
    color: #3A3A3A;
}
.anchor-a{
    font-size: 30px;
    text-decoration: none;
    border: solid #E02C6D;
    color: #FFFFFF; 
    width: 196px;
    height: 44px;
    background: #E02C6D;
    border-radius: 41px;
}
.Camara{
    background-image: url(images/Circle\ design.svg);
    width: 475px;
    height: 475px;
}

.logos{
    display: flex;
    gap: 60px;
    border-top:solid 1px orangered;
    border-bottom:solid 2px rgb(197, 43, 151);
    width: 1190px;
}
.part-1{
    border: solid 1px rgb(241, 237, 10);
    border-radius: 5px;
    text-align: center;
    background-color: rgb(250, 237, 60);
    gap: 60px;
    width: 300px;
    height: 520px;
}
.see-more{
    margin-right: auto;
    color: #E02C6DDE;
    font-weight:bold;
    margin-left: 440px;
}
.featured{
    font-size: 38px;
}
.pharagraph{
    font-size: 16px;
    font-weight: bold;
}
.join{
    text-decoration:none;
    font-weight: bold;
    border: 10px 40px;
    background-color: #E02C6D;
    color: white;
    width: 155px;
    height: 44px;   
}
footer{
    margin-top: 20px;
    background: rgb(236, 68, 26) ;
    color: white;
    text-align: center;
    width: 1190px;
}
/* media queries */
/* mobile divices */
@media only screen and (max-width: 680px) {
    .example {background: red;}
  }
